.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 15px 20px;

  h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1em;
    text-transform: capitalize;
  }

  .littleText {
    font-size: 0.6em;
    color: #5c5d5f;
  }

  form {
    flex-grow: 1;
  }

  .typeContainer {
    width: 15%;
    text-align: left;
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .speedContainer {
    align-items: center;
  }

  &.selected {
    background: linear-gradient(90deg, #3a4dd3 0%, #1e2c9b 100%);
    color: #eee;
    box-shadow: 2px 7px 34px -15px #000;

    .littleText {
      color: #eee;
    }
  }
}
